<head>
<title><% if current_article %><%= "#{@show["title"]} ##{current_article.data.number}: #{current_article.title} | " %><% elsif @show %><%= "#{@show["title"]} | " %><% end %>Sunrise Robot</title>

<!-- 

   _____                  _              ____        __          __ 
  / ___/__  ______  _____(_)_______     / __ \____  / /_  ____  / /_
  \__ \/ / / / __ \/ ___/ / ___/ _ \   / /_/ / __ \/ __ \/ __ \/ __/
 ___/ / /_/ / / / / /  / (__  )  __/  / _, _/ /_/ / /_/ / /_/ / /_  
/____/\__,_/_/ /_/_/  /_/____/\___/  /_/ |_|\____/_.___/\____/\__/  
                                                                    
Founded with love and care by Michael Edwards & David Lyons.
Content, code, and design Copyright © 2015 Sunrise Robot, LLC.

-->

<!-- meta -->
<%= partial "layouts/meta" %>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Fugaz+One|Oswald:400,300,700|Open+Sans:300italic,400italic,700italic,700,300,400' rel='stylesheet' type='text/css'>
<link href="/stylesheets/sr.css" rel="stylesheet" media="screen">
<% if @show %>
<link href="http://sunriserobot.net/<%= @show["prefix"] %>/feed.xml" rel="alternate" title="<%= @show["title"] %> RSS Feed" type="application/rss+xml">
<% end %>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="../../assets/js/html5shiv.js"></script>
  <script src="../../assets/js/respond.min.js"></script>
<![endif]-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59251006-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
