<head>
    <title>
    <% if current_article %>
    <%= "#{@show["title"]} ##{current_article.data.number}: #{current_article.title} | " %>
    <% elsif @show %>
    <%= "#{@show["title"]} | " %>
    <% end %>
    Sunrise Robot</title>
    <%= partial "layouts/meta" %>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Fugaz+One|Oswald:400,300|Cardo:400,700,400italic|Open+Sans|Open+Sans+Condensed:700,300' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/sr.css" rel="stylesheet" media="screen">
    <% if @show %>
    <link href="http://sunriserobot.net/<%= @show["prefix"] %>/feed.xml" rel="alternate" title="<%= @show["title"] %> RSS Feed" type="application/rss+xml">
    <% end %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
