<article>
      <div class="container show-list">
        <% shows = YAML.load_file("source/data/shows.yml") %>
        <% shows.each_slice(3) do |row| %>
        <div class="row">
          <% row.each do |show| %>
          <div class="col-sm-4">
            <div class="thumbnail">
              <a href="<%= show["prefix"] %>"><img class="img-responsive" src="/images/<%= show["album_art"] %>"/></a>
              <div class="caption">
                <h2 class="index-show-title"><a href="<%= show["prefix"] %>"><%= show["title"] %></a></h2>
                <p class="index-show-desc"><%= show["description"] %></p>
                <p><% if show["itunes"] %><a href="<%= show["itunes"] %>" class="btn btn-itunes" role="button"><i class="fa fa-music"></i> iTunes</a> <% end %><a href="pcast://sunriserobot.net/<%= show["prefix"] %>/feed.xml" class="btn btn-rss" role="button"><i class="fa fa-rss"></i> RSS</a></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </article>

